---
/**
 * 1. 
 * import.meta.glob() 是 Vite (Astro 使用的構建工具) 提供的一個特殊函數，用於批量導入檔案。
 * 
 * 2. 
 * 第二個參數 { eager: true } 表示即時加載這些檔案，而不是使用動態導入（懶加載）。當設定為 eager: true 時，所有匹配的檔案會在編譯時被立即導入。
 */

import BaseLayout from "../layouts/BaseLayout.astro";
import BlogPost from "../components/BlogPost.astro";
import { getCollection } from "astro:content";
const pageTitle = "My Astro Learning Blog";
// const allPosts = Object.values(
//   await import.meta.glob("./posts/*.md", { eager: true })
// );
const allPosts = await getCollection("blog")
---

<BaseLayout pageTitle={pageTitle}>
  <p>This is where I will post about my journey learning Astro.</p>
  <ul>
    {
      allPosts.map((post: any) => (
        // <BlogPost url={post.url} title={post.frontmatter.title} />
        <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />
      ))
    }
  </ul>
</BaseLayout>
